<%
titles = {
    "tr": {
        "github": "GitHub Profili",
        "github_sponsor": "GitHub Sponsorluk",
        "patreon": "Patreon Destek",
        "rss": "RSS Aboneliği",
        "email": "E-Posta",
        "dockerhub": "Dockerhub Profili",
        "linkedin": "LinkedIn Profili",
        "rubygems": "Rubygems Profili",
        "pypi": "Python Package Index Profili",
        "hashnode": "Hashnode Profili",
        "opensourceheroes": "Open Source Heroes Profili",
        "devto": "Dev Community Profili",
        "vbyazilim": "Şirketim: VB YAZILIM",
    },
    "en": {
        "github": "GitHub Profile",
        "github_sponsor": "GitHub Sponsorship",
        "patreon": "Patreon Sponsorship",
        "rss": "RSS Subscription",
        "email": "E-Mail",
        "dockerhub": "Dockerhub Profile",
        "linkedin": "LinkedIn Profile",
        "rubygems": "Rubygems Profile",
        "pypi": "Python Package Index Profile",
        "hashnode": "Hashnode Profile",
        "opensourceheroes": "Open Source Heroes Profile",
        "devto": "Dev Community Profile",
        "vbyazilim": "My Company: VB YAZILIM",
    },
}
%>
<footer class="footer">
    <div class="container">
        <div class="content">
            <a href="/feed-<%= I18n.locale %>.xml" title="<%= titles[I18n.locale][:rss] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-square-rss fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://github.com/sponsors/vigo" title="<%= titles[I18n.locale][:github_sponsor] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-heart fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://patreon.com/vigoo" title="<%= titles[I18n.locale][:patreon] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-patreon fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://github.com/vigo" title="<%= titles[I18n.locale][:github] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-github fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://github.com/vbyazilim" title="VB YAZILIM <%= titles[I18n.locale][:github] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-github fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://hub.docker.com/u/vigo/" title="<%= titles[I18n.locale][:dockerhub] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-docker fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://www.linkedin.com/in/ugurozyilmazel" title="<%= titles[I18n.locale][:linkedin] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-linkedin fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://www.linkedin.com/company/vbyazilim/" title="VB YAZILIM <%= titles[I18n.locale][:linkedin] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-linkedin fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://rubygems.org/profiles/vigo" title="<%= titles[I18n.locale][:rubygems] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-laptop-code fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://pypi.org/user/vigo" title="<%= titles[I18n.locale][:pypi] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-laptop-code fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://vigos.hashnode.dev/" title="<%= titles[I18n.locale][:hashnode] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-hashnode fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://opensource-heroes.com/u/vigo" title="<%= titles[I18n.locale][:opensourceheroes] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-osi fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://dev.to/vigo" title="<%= titles[I18n.locale][:devto] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-brands fa-dev fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://csdb.dk/scener/?id=8379" title="CSDB">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-cube fa-stack-1x"></i></span>
            </a>
            <a target="_blank" href="https://www.pouet.net/user.php?who=4721" title="Pouet">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-cube fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="http://janeway.exotica.org.uk/author.php?id=11962" title="Amiga Exotica">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-cube fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://demozoo.org/sceners/6273" title="Demozoo">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-cube fa-stack-1x"></i></span>
            </a>

            <a target="_blank" href="https://www.demoparty.net/users/vigo" title="Demoparty.net">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-cube fa-stack-1x"></i></span>
            </a>
            
            <script type="text/javascript">
            document.write('<a href="mailto:');
            document.write("hthebmlvyznmry\100tznvy\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
            document.write('" title="<%= titles[I18n.locale][:email] %>"');
            document.write('<span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fa-solid fa-at fa-stack-1x"></i></span>');
            document.write('</a>');
            </script>

            <a target="_blank" href="https://vbyazilim.com/" title="<%= titles[I18n.locale][:vbyazilim] %>">
                <span class="fa-stack" style="vertical-align: top;"><i class="fa-regular fa-circle fa-stack-2x"></i><i class="fas fa-building fa-stack-1x"></i></span>
            </a>

        </div>
    </div>
</footer>
