<% 
I18n.locale = :tr

article_title = current_page.title
article_subtitle = current_page.metadata[:page][:subtitle] || nil
article_date_display = I18n.l current_page.date, :format => config.date_format_long[I18n.locale]
%>

<% wrap_layout :"tr/layout-common" do %>
    <section class="section main">
        <div class="container">
        
            <div class="columns is-multiline is-variable is-8">
                <div class="column is-9-desktop is-full-tablet">
                    <div class="content is-large">
                        <article>
                            <div class="meta">
                                <span class="reading-time">OKUMA SÜRESİ <%= get_reading_time(current_page.body, :basic) %></span>
                                &mdash;
                                <time pubdate datetime="<%= current_page.date.xmlschema %>" title="<%= article_date_display %>"><%= article_date_display %></time>

                                <%
                                if current_page.data.respond_to?('updates')
                                  current_page.data.updates.each do |updated_at|
                                      updated_at_date = Time.parse(updated_at)
                                      updated_at_display = I18n.l updated_at_date, :format => config.date_format_long[I18n.locale]
                                  %>
                                  <br><span class="reading-time">GÜNCELLEME</span> &mdash; <time pubdate datetime="<%= updated_at_date.xmlschema %>" title="<%= updated_at_display %>"><%= updated_at_display %></time>
                                  <%
                                  end
                                end
                                %>

                                <% if current_page.tags %>
                                <div class="tags mt-3">
                                    <% current_page.tags.each do |tag| %>
                                        <%= link_to tag, tag_path(tag, "turkish"), class: 'tag is-info' %>
                                    <% end %>
                                </div>
                                <% end %>
                                
                            </div>
                            
                            <h1 class="title"><%= article_title %></h1>
                            <% if article_subtitle %>
                                <h2 class="subtitle is-size-4-desktop">
                                    <%= article_subtitle %>
                                </h2>
                            <% end %>
                            
                            <div class="yield"><%= yield %></div>
                        </article>
                        
                        <% if current_page.article_previous || current_page.article_next %>
                            <nav class="mt-6 pagination is-centered" role="navigation" aria-label="pagination">
                                <% if current_page.article_previous %><%= link_to "&laquo; " + current_page.article_previous.title, current_page.article_previous, class: "pagination-previous has-text-link" %><% end %>
                                <% if current_page.article_next %><%= link_to current_page.article_next.title + " &raquo;", current_page.article_previous, class: "pagination-next has-text-link" %><% end %>
                            </nav>
                        <% end %>
                    </div>
                </div>
                <div class="column is-3-desktop is-full-tablet">
                    <div class="content">
                        <%= partial 'partials/related_posts', locals: {
                              locale: I18n.locale,
                              current_page: current_page,
                              blog: "turkish",
                        } %>
                        
                        <%= partial 'partials/posts_by_year', locals: {
                              locale: I18n.locale,
                              articles: blog.articles,
                        } %>
                    </div>
                </div>
            </div>

        </div>
    </section>
<% end %>